/.idea/.gitignore
/.idea/aws.xml
/.idea/misc.xml
/.idea/missspec.iml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.cursor/rules/project.mdc
